 /* Загальні стилі */
 :root {
    --primary-font: 'Roboto', sans-serif;
    --additional-font: 'Lato', sans-serif;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --pink-color: #FFC8DD;
    --light-gray-color: #6C757D;
    --dark-gray-color: #212529;
  }

  body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none; 
    outline: none; 
    border: none;
  }
  
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none; 
  }
  
  .link a {
    display: inline-block; 
  }
  
  .link a:focus, .link a:hover {
    outline: none; 
    color: inherit; 
  }
  
  img {
    display: block; 
  }
  
  .icon {
    fill: currentColor; 
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    padding: 0; 
    margin: 0;
    width: auto;
  }

   /* Хедер */
   header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 50px;
    background-color: var(--black-color);
    width: 100%;
    height: 40px;
  }
  
  .strat-header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 50px;
    background-color: var(--white-color);
    width: 100%;
    height: 40px;
  }

  .collaborate-btn {
    background-color: var(--pink-color);
    color: var(--white-color);
    font-family: var(--primary-font);
    padding: 12px 24px;
    font-size: 18px;
    letter-spacing: 0.4px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: auto; 
  }

  .collaborate-btn-strat {
    background-color: var(--pink-color);
    color: var(--white-color);
    font-family: var(--primary-font);
    padding: 12px 24px;
    font-size: 18px;
    letter-spacing: 0.4px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: auto; 
  }

  .collaborate-btn:hover {
    background-color: var(--white-color);
    color: var(--dark-gray-color);
  }

  .collaborate-btn-strat:hover {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .container.collaborate-btn {
    margin-top: 40px;
  }

  .language-switcher {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .language-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
  }

  .language-select {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: none; 
  }
  
  .language-select.active {
    display: block; 
  }
  
  .lang {
    display: none;
  }
  
  .lang.active {
    display: block;
  }
  
   /* Перша секція */
   section.first-section {
    height: 100vh; 
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .first-section h1 {
    font-family: var(--additional-font);
    color: var(--light-gray-color);
    text-align: center;
    font-size: 65px;
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
    line-height: 1.08;
    letter-spacing: 1.4px;
    font-weight: 400;
    position: relative;
    opacity: 0; 
    transform: translateY(100px); 
    transition: transform 1s ease-out, opacity 1s ease-out;
    margin-top: -100px;
  }
  
  .first-section h1.visible {
    opacity: 1; 
    transform: translateY(0);
  }
  
.highlight {
  color: var(--white-color) !important;
}

.scroll-indicator {
  position: absolute;
  bottom: 230px !important;
  font-size: 45px;
  opacity: 0; 
  color: var(--white-color);
  transition: opacity 1s ease-in; 
  right: 15%;
}

.scroll-indicator.animate {
  opacity: 1; 
  animation: moveArrow 1s infinite alternate; 
}

@keyframes moveArrow {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}

 /* Стилі для другої секції */
.second-section {
  padding: 60px 20px;
  background-color: var(--white-color);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-title {
  font-family: var(--additional-font);
  color: var(--light-gray-color);
  text-align: center;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 1.1;
  color: var(--black-color);
  margin-bottom: 40px;
  display: none;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 2px solid var(--light-gray-color); 
  padding: 30px;
  max-width: 330px;
  width: 100%;
  text-align: left;
  border: 1px solid #f2f2f2;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.service-title {
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--pink-color);
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 0.4;
}

.service-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.service-list li {
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px;
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 300;
  color: var(--dark-gray-color);
  line-height: 1.1;
  letter-spacing: 0.1;
}

.service-list li::before {
  content: "•"; 
  position: absolute;
  left: 0;
  color: var(--pink-color);
  font-size: 18px; 
  line-height: 1; 
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.list-icon {
  margin-right: 10px;
  vertical-align: middle;
}


  /* Стилі для третьої секції */
.third-section {
  display: flex;
  flex-direction: column; 
  gap: 70px; 
  background-color: var(--black-color); 
  color: var(--white-color); 
  padding: 80px 60px;
}

.third-service-area-content {
  max-width: 50%;
}

.third-service-area {
  margin-bottom: 70px; 
}

.third-service-area:last-child {
  margin-bottom: 0; 
}

.third-service-area-buttons {
  display: flex; 
  gap: 20px; 
  width: 100%; 
  margin-bottom: 30px;
}

.custom-button {
  padding: 12px 24px;
  border: 1px solid var(--white-color); 
  color: var(--white-color); 
  background-color: var(--black-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--additional-font);
  text-align: center;
  cursor: pointer; 
  transition: all 0.3s ease;
}

.custom-button-2 {
  padding: 12px 24px;
  border: 1px solid var(--white-color); 
  color: var(--white-color); 
  background-color: var(--black-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--additional-font);
  text-align: center;
  cursor: pointer; 
  transition: all 0.3s ease;
  white-space: nowrap;
}

.custom-button:hover {
  background-color: var(--white-color); 
  color: var(--black-color);
}

.custom-button-2:hover {
  background-color: var(--white-color); 
  color: var(--black-color);
}

.third-service-area-title {
  font-size: 82px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 1.2;
}

.third-service-area-description {
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.4;
  color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 30px;
  max-width: 960px;
}

.third-service-area-description-2 {
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.4;
  color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 30px;
  max-width: 1060px;
}

.third-service-area-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  margin-top: 60px;
}

.third-service-area-button:hover {
  background-color: var(--dark-gray-color);
}

.third-service-area-image img {
  width: 50%;
  height: auto;
  border-radius: 12px;
}

.third-service-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.third-service-area-video {
  display: flex; 
  justify-content: flex-end;
  transform: translateX(-60px);
}

.third-service-area-video video {
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  border-radius: 10px;
}

  /* Стилі для сторінки коллаб */
  .collab-section {
    height: 100vh; 
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }

  .collab-section h1 {
    color: var(--dark-gray-color);
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 1.0;
    font-family: var(--primary-font);
    max-width: 860px; 
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: 20px; 
    margin-top: -80px;
  }
  
  .collab-section p {
    font-family: var(--additional-font);
    color: var(--light-gray-color);
    max-width: 900px; 
    font-size: 18px !important;
    font-weight: 300;
    line-height: 1.4 !important;
    letter-spacing: 0.2;
    margin-bottom: -20px;
    margin-top: 20px; 
  }
  
  .collab-section a {
    color: var(--white-color);
    text-decoration: underline;
    font-weight: 500;
    font-family: var(--primary-font);
  }
  
  .collab-section a:hover {
    color: var(--white-color);
  }
  
.contact-section {
  background-color: var(--pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -230px;
}

.form-container {
  max-width: 600px;
  width: 100%;
  background-color: var(--pink-color);
  padding: 30px;
  border: none;
}

.contact-form h1 {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.4;
  margin-bottom: 5px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 20px 35px;
  font-size: 16px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: none !important; 
  border: none; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: var(--white-color);
}

.contact-form textarea {
  resize: none; 
}

.submit-btn {
  width: 100%;
  padding: 18px 36px;
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 80px;
  font-weight: bold;

}

.submit-btn:hover {
  background-color: var(--white-color);
  color: var(--dark-gray-color);
}

/* Стилі для секції послуг */
.services-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 50px 20px;
  background-color: var(--white-color); 
  margin-top: 50px;
  margin-bottom: 50px;
}

.service-card {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 2px solid var(--light-gray-color); 
  padding: 30px;
  max-width: 340px;
  width: 100%;
  text-align: left;
  border: 1px solid #f2f2f2;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-title {
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--pink-color);
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 0.4;
}

.service-description {
  font-size: 18px;
  color: var(--dark-gray-color);
  margin-bottom: 45px;
  font-family: var(--additional-font);
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 0.2;
}

.service-label {
  font-weight: 600; 
  color: var(--dark-gray-color); 
  font-size: 16px; 
  font-family: var(--additional-font);
}

.service-perfect, .service-outcome {
  font-size: 16px;
  color: var(--light-gray-color); 
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.1;
}

.collab-section p {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-weight: 400;
  max-width: 900px; 
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: -20px;
  margin-top: 20px; 
}

.service-btn {
  display: inline-block;
  margin-top: 45px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--pink-color); 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-btn:hover {
  background-color: var(--dark-gray-color); 
}

/* Стилі для п'ятої секції */
.fifth-section {
  background-color: var(--pink-color); 
  padding: 60px 20px; 
  text-align: center; 
}

.fifth-section .container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 400;
  color: var(--white-color);
  line-height: 1.1;
  letter-spacing: 0.4;
  margin-bottom: 0px; 

}

.main-title {
  font-size: 46px;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--dark-gray-color);
  line-height: 1.4;
  letter-spacing: 0.4;
  margin-bottom: 40px; 
}

.collaboration-btn {
  background-color: var(--black-color);
  color: var(--white-color); 
  font-size: 16px; 
  font-weight: 500; 
  padding: 12px 24px; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collaboration-btn:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.fifth-section .social-icons {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 10px; 
}

.fifth-section .social-icon svg {
  width: 30px; 
  height: 30px;
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.fifth-section .social-icon svg:hover {
  transform: scale(1.1); 
}


  /* Сторінка стратегії */

.hero {
  margin: 150px auto 0 auto; 
  max-width: calc(100% - 90px); 
  padding-right: 90px; 
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.hero-title {
  font-size: 82px;
  margin-bottom: 40px;
  line-height: 1.0;
  letter-spacing: 1.2px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--black-color);
  width: 890px;
}
  
  .hero-description {
    font-size: 26px;
    font-family: var(--additional-font);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.4;
    width: 750px;
  }

  .hero-description-2 {
    font-size: 26px;
    font-family: var(--additional-font);
    color: var(--light-gray-color);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.4;
    width: 750px;
  }  

  .hero.visible {
    opacity: 1; 
    transform: translateY(0); 
  }

  .highlight-st {
    color: var(--light-gray-color);
  }

  .tabl1 {
    margin-top: 30px;
    width: 900px;
    border: none; 
    border-radius: 12px; 
  }
  
.portfolio {
  margin: 140px auto 0 auto; 
  max-width: calc(100% - 90px); 
  padding-right: 90px; 
}

.portfolio-title {
  margin-bottom: 10px !important;
  margin-top: -40px;
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 0.4;
  width: 700px;
}

.portfolio-title-2 {
  margin-bottom: 10px !important;
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 0.4;
  width: 700px;
}

.hero-tabl {
  margin: 185px auto 0 auto; 
  max-width: calc(100% - 60px); 
  padding-right: 90px; 
}

.portfolio-description {
  font-size: 18px;
  color: var(--dark-gray-color);
  font-family: var(--additional-font);
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.4;
margin-bottom: 70px;
max-width: 900px;
}

.campaign-stats {
  margin-top: 20px;
  margin-bottom: 20px;
}

.campaign-stats-2 {
  margin-top: 70px;
  margin-bottom: 20px;
}

.campaign-title {
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--pink-color);
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 0.4;

}

.stats-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
}

.stats-list li {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.2;
  position: relative;
  padding-left: 25px;
  color: var(--dark-gray-color);
  font-weight: 400;
}

.stats-list li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--pink-color);
  border-radius: 50%;
}

.service-label-2 {
  font-weight: 600; 
  color: var(--dark-gray-color); 
  font-size: 16px; 
  font-family: var(--additional-font);
  margin-top: 50px !important;
}

.portfolio-img {
  display: flex; 
  gap: 60px; 
}

.portfolio-img-2 {
  display: flex; 
  gap: 60px;
  margin-top: 40px; 
}

.portfolio-img img {
  max-width: 450px; 
  height: auto; 
}


.img-card p {
  margin-top: 10px; 
  font-size: 18px; 
  color: #333; 
}

.stats-list-2 {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px; 
  list-style: none;
  padding: 0;
  margin: 0;
  width: 700px;
}

.stats-list-2 li {
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  padding-left: 25px;
  color: var(--dark-gray-color);
  font-weight: 400;
}

.stats-list-2 li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--pink-color);
  border-radius: 50%;
}

.hero-content{
  margin-top: 90px;
  margin-bottom: 90px;
}

  /* Сторінка брендингу */

.naan {
  margin-top: 135px !important;
}

.brand-hero {
  width: 100%;
}
  
.naan-desc {
  margin: 70px auto 0 auto; 
  max-width: calc(100% - 90px); 
  padding-right: 90px; 
}
  
.naan-desc-area-buttons {
  display: flex; 
  gap: 20px; 
  width: 100%; 
  margin-bottom: 60px;
}
  
.naan-button {
  padding: 12px 24px;
  border: 1px solid var(--black-color); 
  color: var(--black-color); 
  background-color: var(--white-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--additional-font);
  text-align: center;
  cursor: pointer; 
  transition: all 0.3s ease;
 }

.naan-button:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  
 }
  
.image-naan {
  display: flex;
  gap: 40px;
  margin-bottom: 30px; 
}
  
.image-naan img {
  max-width: 55%; 
  height: auto; 
}
  
.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  margin: 0 auto;
}

.full-width-image img {
  width: 100%;
  display: block;
  height: auto;
  margin-bottom: 40px;
}

.image-pair {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.image-pair img {
  width: calc(50% - 10px); 
  height: auto;
}
