 /* Загальні стилі */
 :root {
    --primary-font: 'Roboto', sans-serif;
    --additional-font: 'Lato', sans-serif;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --pink-color: #FFC8DD;
    --light-gray-color: #6C757D;
    --dark-gray-color: #212529;
  }

  body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none; 
    outline: none; 
    border: none;
  }
  
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .link {
    text-decoration: none; 
  }
  
  .link a {
    display: inline-block; 
  }
  
  .link a:focus, .link a:hover {
    outline: none; 
    color: inherit; 
  }
  
  img {
    display: block; 
  }
  
  .icon {
    fill: currentColor; 
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    padding: 0; 
    margin: 0;
    width: auto;
  }

   /* Хедер */
   header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 50px;
    background-color: var(--black-color);
    width: 100%;
  }
  
  .collaborate-btn {
    background-color: var(--pink-color);
    color: var(--white-color);
    font-family: var(--primary-font);
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: auto; 
  }

  .collaborate-btn:hover {
    background-color: var(--white-color);
    color: var(--dark-gray-color);
  }

  .container.collaborate-btn {
    margin-top: 40px;
  }
  
   /* Перша секція */
   section.first-section {
    height: 100vh; 
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .first-section h1 {
    font-family: var(--additional-font);
    color: var(--light-gray-color);
    text-align: center;
    font-size: 65px;
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
    line-height: 1.08;
    letter-spacing: 1.4px;
    font-weight: 400;
    margin-top: -150px;
  }

  .highlight {
    color: var(--white-color) !important;
  }

.scroll-indicator {
  position: absolute;
  bottom: 230px !important;
  font-size: 45px;
  opacity: 0; 
  color: var(--white-color);
  transition: opacity 1s ease-in; 
  right: 15%;
}

.scroll-indicator.animate {
  opacity: 1; 
  animation: moveArrow 1s infinite alternate; 
}

@keyframes moveArrow {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0);
  }
}

 /* Стилі для другої секції */
.second-section {
  padding: 60px 20px;
  background-color: var(--white-color);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-title {
  font-family: var(--additional-font);
  color: var(--light-gray-color);
  text-align: center;
  font-size: 65px;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 40px;
  font-family: var(--additional-font);
  display: none;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 2px solid var(--light-gray-color); 
  padding: 30px;
  max-width: 340px;
  width: 100%;
  text-align: left;
  border: 1px solid #f2f2f2;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.service-title {
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--pink-color);
  margin-bottom: 25px;
  text-align: left;
}

.service-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.service-list li {
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px;
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 400;
  color: var(--dark-gray-color);
  line-height: 1.1;
}

.collab-section p {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-weight: 400;
  max-width: 900px; 
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: -20px;
  margin-top: 20px; 
}

.service-list li::before {
  content: "•"; 
  position: absolute;
  left: 0;
  color: #333; 
  font-size: 18px; 
  line-height: 1; 
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

  /* Стилі для третьої секції */
.third-section {
  display: flex;
  flex-direction: column; 
  gap: 70px; 
  background-color: #000; 
  color: #fff; 
  padding: 80px 60px;
}

.third-service-area-content {
  max-width: 50%;
}

.third-service-area {
  margin-bottom: 60px; 
}

.third-service-area:last-child {
  margin-bottom: 0; 
}

.third-service-area-title {
  font-size: 82px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: var(--primary-font);
  font-weight: 500;
  margin-top: 30px;
}

.third-service-area-description {
  font-size: 18px;
  font-family: var(--additional-font);
  font-weight: 400;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8); 
  margin-bottom: 30px;
}

.third-service-area-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  margin-top: 60px;
}

.third-service-area-button:hover {
  background-color: var(--dark-gray-color);
}

.third-service-area-image {
  max-width: 40%;
}

.third-service-area-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.third-service-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}


  /* Стилі для сторінки коллаб */
  .collab-section {
    height: 100vh; 
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .collab-section h1 {
    font-family: var(--additional-font);
    color: var(--dark-gray-color);
    font-size: 55px;
    max-width: 760px; 
    line-height: 1.08;
    letter-spacing: 1.4px;
    font-weight: 400;
    margin-bottom: 20px; 
    margin-top: -80px;
  }
  
  .collab-section p {
    font-family: var(--additional-font);
    color: var(--dark-gray-color);
    font-weight: 400;
    max-width: 900px; 
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: -20px;
    margin-top: 20px; 
  }
  
  .collab-section a {
    color: var(--blue-color); 
    text-decoration: underline;
    font-weight: 500;
  }
  
  .collab-section a:hover {
    color: var(--white-color);
  }
  
.contact-section {
  background-color: var(--pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
}

.form-container {
  max-width: 600px;
  width: 100%;
  background-color: var(--pink-color);
  padding: 30px;
  border: none;
}

.contact-form h1 {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  font-family: var(--primary-font);
  color: var(--dark-gray-color);
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 20px 35px;
  font-size: 16px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: none !important; 
  border: none; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: var(--white-color);
}

.contact-form textarea {
  resize: none; 
}

.submit-btn {
  width: 100%;
  padding: 18px 36px;
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 80px;
  font-weight: bold;

}

.submit-btn:hover {
  background-color: var(--white-color);
  color: var(--dark-gray-color);
}

/* Стилі для секції послуг */
.services-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 50px 20px;
  background-color: var(--white-color); 
  margin-top: 50px;
  margin-bottom: 50px;
}

.service-card {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 2px solid var(--light-gray-color); 
  padding: 30px;
  max-width: 340px;
  width: 100%;
  text-align: left;
  border: 1px solid #f2f2f2;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-title {
  font-size: 26px;
  font-weight: bold;
  color: var(--pink-color); 
  margin-bottom: 25px;
}

.service-description {
  font-size: 18px;
  color: var(--dark-gray-color);
  margin-bottom: 45px;
  font-family: var(--additional-font);
  font-weight: 400;
  line-height: 1.1;
}

.service-label {
  font-weight: 600; 
  color: var(--dark-gray-color); 
  font-size: 16px; 
  font-family: var(--additional-font);
}

.service-perfect, .service-outcome {
  font-size: 16px;
  color: var(--light-gray-color); 
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.1;
}

.collab-section p {
  font-family: var(--additional-font);
  color: var(--dark-gray-color);
  font-weight: 400;
  max-width: 900px; 
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: -20px;
  margin-top: 20px; 
}

.service-btn {
  display: inline-block;
  margin-top: 45px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--pink-color); 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-btn:hover {
  background-color: var(--dark-gray-color); 
}

/* Стилі для п'ятої секції */
.fifth-section {
  background-color: var(--pink-color); 
  padding: 60px 20px; 
  text-align: center; 
}

.fifth-section .container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 18px; 
  color: var(--white-color); 
  margin-bottom: 10px; 
}

.main-title {
  font-size: 36px; 
  font-weight: 700; 
  line-height: 1.4; 
  color: var(--dark-gray-color); 
  margin-bottom: 40px; 
}

.collaboration-btn {
  background-color: var(--black-color);
  color: var(--white-color); 
  font-size: 16px; 
  font-weight: 500; 
  padding: 12px 24px; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collaboration-btn:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

